
.button {
    background-color: #F9C041;
    font-family: var(--font-title-family);
    border: 2px solid #000000;
    border-radius: 4px;
    padding: 1rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
}

.button:hover {
    background-color: #E1A41D;
}