.preview-container {
    height: 700px;
}

.preview-container .preview-area {
    padding: 2rem 2rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    border: 2px solid #000000;
    outline: none;
    font-size: 1.6rem;
    background-color: transparent;
    overflow-y: scroll;
}