:root {
  --font-title-family: 'Bebas Neue', cursive;
}

.app-container {
  max-width: 1250px;
  width: 100%;
  height: 100%;
}

.title {
  font-family: var(--font-title-family);
  font-size: 4rem;
  letter-spacing: 2px;
  text-align: center;  
  text-transform: uppercase;
}

.editorContainer {
  display: flex;
  column-gap: 8rem;
}

.markdownEditor {}

.preview {}